/* 배경 이미지 설정 */
body {
  /*   background: url('@/assets/background.jpg') no-repeat center center fixed; */
    background-size: cover;
    font-family: 'Arial', sans-serif;
    color: white;
  }
  
  /* 네비게이션 바 스타일 */
  .navbar {
    background-color: #007bff !important;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  /* 컨테이너 스타일 */
  .container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    color: black;
  }
  
  /* 푸터 스타일 */
  footer {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  